<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admindashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_latest"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_latest_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminDashboard">
        <activity
            android:name=".toppers.AddTopperActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".toppers.TopperListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".clubs.AddClubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clubs.EditClubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clubs.ClubsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sports.EditSportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sports.AddSportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sports.SportsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.AdminProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faculties.AddFacultyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faculties.EditFacultyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".students.AddStudentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".students.EditStudentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addDeleteEdit.AddDeleteUserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".toppers.ToppersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clubs.ClubActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sports.SportsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.SignUpStep1_1Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.PasswordSuccessMessageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.SignUpStep4Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.SignUpStep1Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.SignUpStep3Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.VerifyOtpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.SignUpStep2Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginAndSignUp.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="My College App Admin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>